@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif; 
 scroll-behavior: smooth;  
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#8c0b91,#0bacb8);
    
}


section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #A2D9CE, transparent);
    z-index: 1000;
}


.d-block w-100 {
width: 100%;
height: 50%;
}